.border {
    border: 1px solid black
}

.wrapper {
    border: 1px solid lightgray;
    padding: 25px 50px;
    width: 80%;
    margin: 30px auto;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}

.title {
    font-weight: normal;
}